nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
}
.logo {
  position: relative;
  width: 70px;
}
.logo img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-item {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white);
}
.nav-item:hover {
  color: var(--green);
}
